.cart {
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  left: 1%;
  padding: 1%;
  position: relative;
  margin-top: 10px;
  width: 50%;
}

.detalhes {
  margin: auto;
  width: 400px;
}

.endButton {
  border: black solid 1px;
  border-radius: 0;
  left: 1%;
  padding: 10px;
  position: relative;
}
