.cart {
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 1%;
  width: 50%;
  display: flex;
  flex-flow: row;
  position: relative;
  left: 1%;
}

.detalhes {
  width: 400px;
  margin: auto;
}

.endButton {
  padding: 10px;
  border: black solid 1px;
  border-radius: 0;
  position: relative;
  left: 1%;
}
