.carrinho {
  background-color: white;
  border-radius: 30%;
  color: white;
  display: flex;
  position: absolute;
  right: 5%;
  top: 2%;
}

.number {
  left: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 25px;
}
