.details {
  border: 1px black solid;
  width: 800px;
  background-color: white;
}

.ProductDetails {
  display: flex;
  justify-content: space-around;
}

.backThumb {
  background-color: white;
  border: black solid 1px;
}
.thumb {
  width: 200px;
}
